@charset "utf-8";

html, body{
  height: 100%;
  overflow-x: hidden;
}

/*-----------header시작---------*/

header{
 position: relative;
 width: 1200px;
 margin: 0 auto;
}

header h1{
 position: relative;
 margin: 20px;
 top: 20px;
 left: 20px;
}

.logotext{
  position: relative;
  margin: 0 auto;
  left: 400px;
  top: -100px;
}

header .sub_menu{
 position: absolute;
 right: 10px;
 top: 20px;
 font: bold 1em "Helvetica"; 
}

header .sub_menu::after{
content: "";
display: block;
clear: both;
}

header .sub_menu li {
  position: relative;
  float: left;
  text-align: center;
  margin-left: 8px;
  top: 75px;
}

header .dnlcl{
  position: absolute;
  right: -450px;
  font: bold 1.1em "Helvetica"; 
}


header .sub_menu li:last-child{
  border-right: none;
}

header .sub_menu li p{
 border-radius: 5px;
 border: 1px solid rgb(255, 255, 255);
 background: rgb(255, 255, 255);
 margin-top: 20px;
 color: #666;
 font-style: bold;
}


.main_menu {
 position: relative;
 float: left;
 right: 0px;
 top: 20px;
}

.main_menu li{
  position: relative;
  float: left;
  text-align: center;
  border-radius: 5px;
  background: rgb(239, 235, 235);
  width: 100px;
  height: 40px;
  line-height: 40px;
}




/*2차메뉴 시작*/
.main_menu>li>ul{
  width: 100%;
  position: relative;
  top: -74px; 
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  
}

.main_menu ul>li>a{
  display: block;
  text-align: center;
  height: 30px;
  color: rgb(112, 112, 112);
  text-decoration: none;
  font: normal 0.9em/30px "Helvetica"; 
}

.main_menu ul>li>a:hover {
  color: rgb(28, 19, 151);
  background-color: rgb(222, 239, 245);
  border-radius: 5px;
}

.main_menu>li:hover>ul {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}

.main_menu ul>li{
   height: 0px;
   line-height: 0px;
}

.main_menu>li:hover>ul>li{
  position: relative;
  height: 30px;
  right: 8px;
  line-height: 30px;
  transition: all 0.5s;
}

/*2차메뉴 끝*/


.menu0{
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    top: -9px;
}

.menu01{
    width: 100%;
    height: 300px;
    display: block;
    text-align: center;
    font: bold 4em "Helvetica";
    color: rgb(255, 255, 255); 
    background: rgb(24, 62, 146);
    margin: 0 auto;
    line-height: 300px;
}

.menu_box{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    border: 2px solid #666;
    border-radius: 10px 10px 10px 10px ;
    height: 50px;
    top: 20px;
}

.menu_box li{
    position: relative;
    float: left;
    text-align: center;
    line-height: 100px;
    padding-right: 50px;
    font: bold 1.2em "Helvetica";
    color: rgb(3, 2, 41);
    margin: auto;
    margin-left: 65px;
    margin-top: 12px;
}

.menu_box li:hover{
    color: rgb(38, 42, 255);
}

.meenuu{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.me_01{
position: relative;
width: 100%;
margin: 0 auto;
}

.me_01 ul::after{
content: "";
display: block;
clear: both;
}

.me_01 li{
    position: relative;
    top: 50px;
    margin-right: 38px;
    float: left;
    right: -15px;
    border: 1px solid #666;
}

.me_01 li:last-child{
    margin-right: none;
}

.me_01 li:hover{
    filter: brightness(0.5);
    background-image: url(../img/ggmggg.png);
}


.me_02{
    position: relative;
    width: 100%;
    margin: 0 auto;
    top: 50px;
    }
    
    .me_02 ul::after{
    content: "";
    display: block;
    clear: both;
    }
    
    .me_02 li{
        position: relative;
        top: 50px;
        margin-right: 38px;
        float: left;
        right: -15px;
        border: 1px solid #666;
    }
    
    .me_02 li:last-child{
        margin-right: none;
    }
    
    .me_02 li:hover{
        filter: brightness(0.5);
        background-image: url(../img/ggmggg.png);
    }
    

    .me_03{
        position: relative;
        width: 100%;
        margin: 0 auto;
        top: 100px;
        }
        
        .me_03 ul::after{
        content: "";
        display: block;
        clear: both;
        }
        
        .me_03 li{
            position: relative;
            top: 50px;
            margin-right: 38px;
            float: left;
            right: -15px;
            border: 1px solid #666;
        }
        
        .me_03 li:last-child{
            margin-right: none;
        }
        
        .me_03 li:hover{
            filter: brightness(0.5);
            background-image: url(../img/ggmggg.png);
        }
        
        
    /*----------------------------------*/

    #arrow01 a{
        position: relative;
        top: 500px;
      }
      
      #arrow01 a.prev01{
        left: -750px;
      }
      
      #arrow01 a.next01{
        right: 520px;
      }
      
      .ad_roll01::after{
        content: "";
        display: block;
        clear: both; 
      }
      
      .ad_roll01 li{
        position: relative;
        float: left;
        margin: 10px;
        left: -670px;
        top: 450px;
      }

  /*--------------footer 시작----------*/
  
  footer{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    top: 400px;
    height: 150px;
    color:  rgb(180, 173, 173);
   
  }
  
  footer h1{
    margin: 20px;   
  }
  
  #info span{
    display: block;
    font: normal 0.9em "Helvetica"; 
  }
  
  #contact span{
    display: block;
    font: bold 0.9em "Helvetica"; 
   
  }
  
  #info{
    position: relative;
    bottom: 120px;
    left: 200px;
  }
  
  #contact{
    position: relative;
    bottom:  200px;
    left: 800px;
   
  }
  
  /*--------------footer 끝----------*/